/*------------------------
  Import fonts 
------------------------*/

/*------------------------
  Global style
------------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

::before,
::after {
  box-sizing: border-box;
}

/*------------------------
  Not found page style
------------------------*/
.not-found {
  height: 80vh;
}
